<%= form_for(@national_long_distance) do |f| %>
  <% if @national_long_distance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@national_long_distance.errors.count, "error") %> prohibited this national_long_distance from being saved:</h2>

      <ul>
      <% @national_long_distance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nld_name %><br>
    <%= f.text_field :nld_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
