<%= form_for(@isp_detail) do |f| %>
  <% if @isp_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isp_detail.errors.count, "error") %> prohibited this isp_detail from being saved:</h2>

      <ul>
      <% @isp_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isp_name %><br>
    <%= f.text_field :isp_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
