<h1>Listing isp_details</h1>

<table>
  <thead>
    <tr>
      <th>Isp name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @isp_details.each do |isp_detail| %>
      <tr>
        <td><%= isp_detail.isp_name %></td>
        <td><%= link_to 'Show', isp_detail %></td>
        <td><%= link_to 'Edit', edit_isp_detail_path(isp_detail) %></td>
        <td><%= link_to 'Destroy', isp_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isp detail', new_isp_detail_path %>
