<p id="notice"><%= notice %></p>

<p>
  <strong>Isp:</strong>
  <%= @isp_d.isp %>
</p>

<p>
  <strong>Isp name:</strong>
  <%= @isp_d.isp_name %>
</p>

<%= link_to 'Edit', edit_isp_d_path(@isp_d) %> |
<%= link_to 'Back', isp_ds_path %>
