<%= form_for(@nation) do |f| %>
  <% if @nation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nation.errors.count, "error") %> prohibited this nation from being saved:</h2>

      <ul>
      <% @nation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :state_name %><br>
    <%= f.text_field :state_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
