<h1>Listing nls</h1>

<table>
  <thead>
    <tr>
      <th>Nld</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nls.each do |nl| %>
      <tr>
        <td><%= nl.NLD %></td>
        <td><%= nl.Name %></td>
        <td><%= link_to 'Show', nl %></td>
        <td><%= link_to 'Edit', edit_nl_path(nl) %></td>
        <td><%= link_to 'Destroy', nl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nl', new_nl_path %>
