<p id="notice"><%= notice %></p>

<p>
  <strong>Nld:</strong>
  <%= @nl.NLD %>
</p>

<p>
  <strong>Name:</strong>
  <%= @nl.Name %>
</p>

<%= link_to 'Edit', edit_nl_path(@nl) %> |
<%= link_to 'Back', nls_path %>
