<%= form_for(@nlds_detail) do |f| %>
  <% if @nlds_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nlds_detail.errors.count, "error") %> prohibited this nlds_detail from being saved:</h2>

      <ul>
      <% @nlds_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nld %><br>
    <%= f.number_field :nld %>
  </div>
  <div class="field">
    <%= f.label :nld_name %><br>
    <%= f.text_field :nld_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
