<%= form_for(@isps1) do |f| %>
  <% if @isps1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isps1.errors.count, "error") %> prohibited this isps1 from being saved:</h2>

      <ul>
      <% @isps1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isp_id %><br>
    <%= f.text_field :isp_id %>
  </div>
  <div class="field">
    <%= f.label :isp_name %><br>
    <%= f.text_field :isp_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
