<h1>Listing isps1s</h1>

<table>
  <thead>
    <tr>
      <th>Isp</th>
      <th>Isp name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @isps1s.each do |isps1| %>
      <tr>
        <td><%= isps1.isp_id %></td>
        <td><%= isps1.isp_name %></td>
        <td><%= link_to 'Show', isps1 %></td>
        <td><%= link_to 'Edit', edit_isps1_path(isps1) %></td>
        <td><%= link_to 'Destroy', isps1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isps1', new_isps1_path %>
