<p id="notice"><%= notice %></p>

<p>
  <strong>Isp:</strong>
  <%= @isps1.isp_id %>
</p>

<p>
  <strong>Isp name:</strong>
  <%= @isps1.isp_name %>
</p>

<%= link_to 'Edit', edit_isps1_path(@isps1) %> |
<%= link_to 'Back', isps1s_path %>
